doctype html
html(lang="en")
		include ./partials/_head.pug

		body#page-top
			block content


			script(src='/static/js/jquery.js')
			// Plugins JavaScript
			script(src='/static/js/seng560-arithmetic.js')
			script(src='/static/js/main.js')
